.App {
  margin: 0 auto;
  background: linear-gradient(75deg,  #ffffff 0%, #808080 100%);
}

.mainBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: calc(100vw - 60px);
  margin: 0 auto;
}

.tableHeader {
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.tableWrapper {
  background-color: white;
  border-radius: 5px;
}
